<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>VIBYOURS</title>
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:title" content="">
    <meta property="og:type" content="">
    <meta property="og:url" content="">
    <meta property="og:image" content="">
    <!-- Favicon -->
    <link rel="shortcut icon" type="image/x-icon" href="/adminAssets/assets/imgs/theme/favicon.svg">
    <!-- Template CSS -->
    <link href="/adminAssets/assets/css/main.css" rel="stylesheet" type="text/css" />
</head>

<body>


    <style>
        body {
            font-family: 'Arial', sans-serif;
            background-color: #f8f9fa;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 0 10px rgba(99, 50, 232, 0.105);
        }

        .title {
            text-align: center;
            color: #007bff;
        }

        table {
            width: 100%;
            margin-top: 20px;
        }

        th,
        td {
            padding: 10px;
            text-align: left;
        }

        .thead-dark {
            background-color: #4b86f3;
            color: #fff;
        }

        .btn {
            margin-top: 10px;
        }

        .btn a {
            color: black;
            text-decoration: none;
        }
    </style>

    <body>
        <div class="container mt-5">
            <div class="title pb-5">
                <h2 class="font-weight-bold">Welcome Admin</h2>
            </div>
            <table class="table table-bordered border-primary">
                <thead class="thead-dark">
                    <tr>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Mobile</th>
                        <th>Actions</th>
                        <!-- <th>Actions</th> -->
                        <th>Users' status</th>

                    </tr>
                </thead>
                <tbody>
                    <% if(users.length> 0) {
                        for(let i=0; i<users.length; i++) { %>
                            <tr>
                                <td>
                                    <%= users[i].name %>
                                </td>
                                <td>
                                    <%= users[i].email %>
                                </td>
                                <td>
                                    <%= users[i].mobile %>
                                </td>
                                <td><a href="/admin/edit-user?id=<%=users[i]._id %>">Edit</a></td>

                                <td>
                                    <%= users[i].is_blocked? 'Blocked' : 'Active' %>
                                </td>
                            </tr>
                            <% } } else { %>
                                <tr>
                                    <td colspan="5">Users Not Found</td>
                                </tr>
                                <% } %>
                </tbody>
            </table>
            <br>
            <div class="d-flex justify-content-between">
                <button class="btn btn-success"><a href="/admin/adminHome"
                        style="text-decoration: none; color: black;">Go
                        to
                        Home</a></button>

            </div>
        </div>

    </body>

</html>