<%- include("../partials/adminheaders") %>
<section class="content-main">
  <div class="content-header">
    <div>
      <h2 class="content-title card-title">Order List</h2>
      
    </div>
    <!-- <div>
      <input
        type="text"
        placeholder="Search order ID"
        class="form-control bg-white"
      />
    </div> -->
  </div>
  <div class="card mb-4">
    <!-- <header class="card-header">
      <div class="row gx-3">
        <div class="col-lg-4 col-md-6 me-auto">
          <input type="text" placeholder="Search..." class="form-control" />
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Status</option>
            <option>Active</option>
            <option>Disabled</option>
            <option>Show all</option>
          </select>
        </div>
        <div class="col-lg-2 col-6 col-md-3">
          <select class="form-select">
            <option>Show 20</option>
            <option>Show 30</option>
            <option>Show 40</option>
          </select>
        </div>
      </div>
    </header> -->
    <!-- card-header end// -->
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
            <tr>
              <th>#ID</th>
              <th scope="col">Name</th>
              <th scope="col">Email</th>
              <th scope="col">Total (Rs.)</th>
              <th scope="col">Order </th>
              <th scope="col">Payment </th>
              <!-- <th scope="col">Date</th> -->
              <th scope="col" class="text-end">Action</th>
            </tr>
          </thead>

          <tbody>
            <% if (orderData && orderData.length> 0) { %> <% for( let i=0; i <
            orderData.length; i++ ) { %>

            <tr>
              <td><%= orderData[i].orderId %></td>
              <td><b> <%= orderData[i].deliveryAddress.name %> </b></td>
              <td>
                <%= orderData[i].deliveryAddress.email %> <%=
                orderData[i].deliveryAddress.mobile %>
              </td>
              <td><%= orderData[i].billTotal  + 50 %></td>
              <td>
                <span
                  class="badge rounded-pill <%= orderData[i].status === 'Confirmed' ? 'alert-primary' : orderData[i].status === 'Shipped' ? 'alert-info' : orderData[i].status === 'Delivered' ? 'alert-success' : orderData[i].status === 'Pending' ? 'alert-warning' :   orderData[i].status === 'Pending Cancel Order Request' ? 'alert-primary' : orderData[i].status === 'Pending Return Request' ? 'alert-primary' :  orderData[i].status === 'Cancelled' ? 'alert-danger' : orderData[i].status === 'Returned' ? 'alert-dark': '' %>"
                >
                  <%= orderData[i].status %>
                </span>
              </td>
              <td>
                <span
                  class="badge rounded-pill <%= orderData[i].paymentStatus === 'Success' ? 'alert-success' : orderData[i].paymentStatus === 'Pending' ? 'alert-info' : orderData[i].paymentStatus === 'Refunded'? 'alert-danger' : orderData[i].paymentStatus === 'Failed'? 'alert-danger' : '' %>"
                >
                  <%= orderData[i].paymentStatus %>
                </span>
              </td>

              
              <td class="text-end">
                <a
                  href="/admin/orderDetails?orderId=<%=orderData[i].orderId%>"
                  class="btn btn-md rounded font-sm"
                  >Detail</a
                >
                
              </td>
            </tr>

            <% } %> <% } else { %>
            <p>No items to display.</p>
            <% } %>
          </tbody>
        </table>
      </div>
      <!-- table-responsive //end -->
    </div>
    <!-- card-body end// -->
  </div>
  <!-- card end// -->
  <div class="pagination-area mt-30 mb-50">
    <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-start">
            <li class="page-item">
                <a class="page-link" href="/admin/orderList?page=<%= encodeURIComponent(currentPage - 1) %>" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <% for (let i = 1; i <= totalPages; i++) { %>
                <li class="page-item <%= currentPage === i ? 'active' : '' %>">
                    <a class="page-link" href="/admin/orderList?page=<%= encodeURIComponent(i) %>"><%= i %></a>
                </li>
            <% } %>
            <li class="page-item">
                <a class="page-link" href="/admin/orderList?page=<%= encodeURIComponent(currentPage + 1) %>" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
</div>

</section>
<!-- content-main end// -->

<%- include("../partials/adminfooters") %>
