<%- include("../partials/userheaders2") %>

  <style>
    @import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

    .card {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      min-width: 0;
      word-wrap: break-word;
      background-color: #fff;
      background-clip: border-box;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-radius: 0.1rem;
    }

    .card-header:first-child {
      border-radius: calc(0.37rem - 1px) calc(0.37rem - 1px) 0 0;
    }

    .card-header {
      padding: 0.75rem 1.25rem;
      margin-bottom: 0;
      background-color: #fff;
      border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    }

    .track {
      position: relative;
      background-color: #ddd;
      height: 7px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-bottom: 60px;
      margin-top: 50px;
    }

    .track .step {
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      width: 25%;
      margin-top: -18px;
      text-align: center;
      position: relative;
    }

    .track .step.active:before {
      background: #ff5722;
    }

    .track .step::before {
      height: 7px;
      position: absolute;
      content: "";
      width: 100%;
      left: 0;
      top: 18px;
    }

    .track .step.active .icon {
      background: #ee5435;
      color: #fff;
    }

    .track .icon {
      display: inline-block;
      width: 40px;
      height: 40px;
      line-height: 40px;
      position: relative;
      border-radius: 100%;
      background: #ddd;
    }

    .track .step.active .text {
      font-weight: 400;
      color: #000;
    }

    .track .text {
      display: block;
      margin-top: 7px;
    }

    .itemside {
      position: relative;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 100%;
    }

    .itemside .aside {
      position: relative;
      -ms-flex-negative: 0;
      flex-shrink: 0;
    }

    .img-sm {
      width: 80px;
      height: 80px;
      padding: 7px;
    }

    ul.row,
    ul.row-sm {
      list-style: none;
      padding: 0;
    }

    .itemside .info {
      padding-left: 15px;
      padding-right: 7px;
    }

    .itemside .title {
      display: block;
      margin-bottom: 5px;
      color: #212529;
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    .btn-warning {
      color: #ffffff;
      background-color: #ee5435;
      border-color: #ee5435;
      border-radius: 1px;
    }

    .btn-warning:hover {
      color: #ffffff;
      background-color: #ff2b00;
      border-color: #ff2b00;
      border-radius: 1px;
    }
  </style>

  <body>
    <div class="container">
      <br />

      <article class="card">
        <header class="card-header">Order details</header>
        <% if(typeof orderData !== 'undefined' && orderData.status === 'Delivered') { %>
          <div style="text-align: right;">
              <a href="userInvoice?orderId=<%= orderData.orderId %>" class="btn btn-success">View Invoice</a>
          </div>
          <% } %>
        <div class="card-body">
          <% if(typeof orderData!=='undefined' ){ %>
            <h6>Order ID:<%=orderData.orderId%>
            </h6>
            <br />
            <h6>
              Order Date:<%= new Date(orderData.orderDate).toLocaleDateString() %>
            </h6>
            <article class="card">
              <div class="card-body row">
                <div class="col">
                  <strong>Estimated Delivery time:</strong> <br />
                  <% var orderDate=new Date(orderData.orderDate); orderDate.setDate(orderDate.getDate() + 7); var
                    modifiedDate=orderDate.toLocaleDateString(); %>
                    <%=modifiedDate %>
                </div>
                <div class="col">
                  <strong>Shipping BY:</strong> <br />
                  Delhivery, | <i class="fa fa-phone"></i> +1598675986
                </div>
                <div class="col">
                  <strong>Status:</strong> <br />
                  <%=orderData.status%>
                </div>
                <div class="col">
                  <strong>Tracking :</strong> <br />
                  <%=orderData.orderId%>
                </div>
              </div>
            </article>
            <%if(orderData.status==='Canceled' ){%>
              <div class="track">
                <div class="step active">
                  <span class="icon"> <i class="fa fa-check"></i> </span>
                  <span class="text">Order confirmed</span>
                </div>
                <div class="step active"></div>
                <div class="step active"></div>
                <div class="step active">
                  <span class="icon">
                    <i class="fa-regular fa-rectangle-xmark"></i>
                  </span>
                  <span class="text">cancelled</span>
                </div>
              </div>
              <%}else{%>
                <div class="track">
                  <div class="step active">
                    <span class="icon"> <i class="fa fa-check"></i> </span>
                    <span class="text">Order confirmed</span>
                  </div>
                  <div
                    class="step <%= orderData.status === 'Processing' ||orderData.status === 'Shipped' || orderData.status === 'Delivered' || orderData.status === 'Returned' ? 'active' : '' %>">
                    <span class="icon"> <i class="fa fa-user"></i> </span>
                    <span class="text"> Picked by courier</span>
                  </div>
                  <div
                    class="step <%= orderData.status === 'Shipped' || orderData.status === 'Delivered' || orderData.status === 'Returned' ? 'active' : '' %>">
                    <span class="icon"> <i class="fa fa-truck"></i> </span>
                    <span class="text"> shipped</span>
                  </div>
                  <div
                    class="step <%= orderData.status === 'Delivered'|| orderData.status === 'Returned' ? 'active' : '' %>">
                    <span class="icon"> <i class="fa fa-box"></i> </span>
                    <span class="text">Delivered</span>
                  </div>
                  <div class="step <%= orderData.status === 'Returned' ? 'active' : '' %>">
                    <span class="icon"> <i class="fa fa-box"></i> </span>
                    <span class="text">Returned</span>
                  </div>
                </div>
                <%}%>
                  <br />
                  <div>
                    <h6>Address:</h6>
                    <%if(orderData.status==='Pending'){%>

                      <p class="card-text">
                        <%=orderData.deliveryAddress.name%>
                          <%=orderData.deliveryAddress.houseName%>
                            <%=orderData.deliveryAddress.housename%>
                              <%=orderData.deliveryAddress.street%>
                                <%=orderData.deliveryAddress.city%>
                                  <%=orderData.deliveryAddress.state%>
                                    <%=orderData.deliveryAddress.locality%>
                                      <%=orderData.deliveryAddress.landmark%>
                                        <%=orderData.deliveryAddress.Country%> Pincode-
                                          <%=orderData.deliveryAddress.pincode%>

                                            <br />

                                            <%=orderData.deliveryAddress.phone%>
                                              <%=orderData.deliveryAddress.mobile%>

                                                <br />
                                                <%=orderData.deliveryAddress.email%>
                      </p>

                      <%}else{%>
                        <p class="text-success"></p>
                        <p class="card-text">
                          <%=orderData.deliveryAddress.name%>
                            <%=orderData.deliveryAddress.houseName%>
                              <%=orderData.deliveryAddress.housename%>
                                <%=orderData.deliveryAddress.street%>
                                  <%=orderData.deliveryAddress.city%>
                                    <%=orderData.deliveryAddress.state%>
                                      <%=orderData.deliveryAddress.locality%>
                                        <%=orderData.deliveryAddress.landmark%>
                                          <%=orderData.deliveryAddress.Country%> Pincode-
                                            <%=orderData.deliveryAddress.pincode%>

                                              <br />
                                              <%=orderData.deliveryAddress.addressType%>

                                                <br />
                                                <%=orderData.deliveryAddress.phone%>
                                                  <%=orderData.deliveryAddress.mobile%>

                                                    <br />
                                                    <%=orderData.deliveryAddress.email%>
                        </p>
                        <%}%>
                  </div>
                  <hr />
                  <ul class="row">
                    <%orderData.items.forEach((item)=>{%>
                      <li class="col-md">
                        <figure class="itemside mb-3">
                          <div class="aside">
                            <img src="/uploads/<%=item.image%>" class="img-sm border" />
                          </div>
                          <figcaption class="info align-self-center">
                            <p class="title">
                              <%=item.productId.productTitle %> <br />
                                Qty:<%=item.quantity %>
                            </p>
                            <span class="text-muted">Rs.<%=item.price %>.00 </span>
                          </figcaption>
                        </figure>
                      </li>
                      <%})%>
                  </ul>
                  <hr />
                  <a href="userProfile" class="btn btn-success" data-abc="true">
                    <i class="fa fa-chevron-left"></i> Back to orders</a>

                  <% if (orderData.status !=='Delivered' ) { %>
                    <button class="btn btn-danger" onclick="confirmCancelOrder()" style="background-color: red">
                      Cancel Order
                    </button>
                    <% } %>
                      <% if (orderData.status==='Delivered' ) { %>
                        <button class="btn btn-danger" onclick="confirmReturnOrder()"
                          style="background-color: rgb(60, 153, 36)">
                          Return Order
                        </button>
                        <% } %>
        </div>
        <% } %>
      </article>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="https://cdn.jsdelivr.net/npm/izitoast"></script>

    <script>
      async function confirmCancelOrder() {
        const result = await Swal.fire({
          title: "Cancel Order",
          text: "Are you sure you want to cancel this order?",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, cancel it!",
        });

        if (result.isConfirmed) {
          // If the user confirms, proceed to cancel the order
          await cancelOrder();
        }
      }

      async function cancelOrder() {
        try {
          const response = await fetch("/cancelOrder", {
            method: "PATCH",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              orderId: "<%= orderData.orderId %>",
            }),
          });

          const data = await response.json();

          // alert(JSON.stringify(data));

          if (data.status === "Order Cancelled") {
            Swal.fire({
              icon: "success",
              title: "Order Canceled",
              text: "The order has been canceled successfully.",
            }).then(() => {

            });
          } else {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Something went wrong while canceling the order.",
            });
          }
        } catch (error) {
          console.error("Error during cancel order:", error);
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: `An unexpected error occurred: ${error.message}`,
          });
        }
      }

      //return order
      function confirmReturnOrder() {
        Swal.fire({
          title: "Are you sure?",
          text: "You won't be able to revert this!",
          icon: "warning",
          showCancelButton: true,
          confirmButtonColor: "#d33",
          cancelButtonColor: "#3085d6",
          confirmButtonText: "Yes, return it!",
          input: "text",
          inputLabel: "Reason for return",
          inputPlaceholder: "Enter your reason here...",
        }).then((result) => {
          if (result.isConfirmed) {
            const reason = result.value;
            returnOrder(reason);
          }
        });
      }
      //function to call server-side returnOrder function
      async function returnOrder(reason) {
        try {

          if (!reason) {
            // Show izyToast or similar confirmation message
            iziToast.warning({
              title: 'Warning',
              message: 'Please enter a reason for returning the order.',
              position: 'topCenter',
              timeout: 3000, // Adjust as needed
            });
            return; // Exit function if reason is not provided
          }


          const response = await fetch("/returnOrder", {
            method: "POST",
            headers: {
              "Content-Type": "application/json",
            },
            body: JSON.stringify({
              orderId: "<%= orderData.orderId %>",
              reason: reason,
            }),
          });

          if (response.ok) {
            const data = await response.json();

            Swal.fire("Returned!", "Your order has been returned.", "success");
          } else {
            Swal.fire("Error!", "Failed to return the order.", "error");
          }
        } catch (error) {
          console.error("Error:", error);
          Swal.fire(
            "Error!",
            "An error occured while processing your request.",
            "error"
          );
        }
      }
    </script>

    <%- include("../partials/userfooters") %>
  </body>