<%- include("../partials/userheaders2") %>

    <div class="mobile-header-active mobile-header-wrapper-style">
        <div class="mobile-header-wrapper-inner">
            <div class="mobile-header-top">
                <div class="mobile-header-logo">
                    <a href="dashboard"><img src="assets/imgs/theme/logo.svg" alt="logo" /></a>
                </div>
                <div class="mobile-menu-close close-style-wrap close-style-position-inherit">
                    <button class="close-style search-close">
                        <i class="icon-top"></i>
                        <i class="icon-bottom"></i>
                    </button>
                </div>
            </div>
            <div class="mobile-header-content-area">
                <div class="mobile-search search-style-3 mobile-header-border">
                    <form action="#">
                        <input type="text" placeholder="Search for items…" />
                        <button type="submit"><i class="fi-rs-search"></i></button>
                    </form>
                </div>
                <div class="mobile-menu-wrap mobile-header-border">
                    <div class="main-categori-wrap mobile-header-border">
                        <a class="categori-button-active-2" href="#">
                            <span class="fi-rs-apps"></span> Browse Categories
                        </a>
                        <div class="categori-dropdown-wrap categori-dropdown-active-small">
                            <ul>
                                <!-- <li><a href="shop-grid-right.html"><i class="evara-font-dress"></i>Women's Clothing</a>
                                </li> -->
                                <li>
                                    <a href="shop-grid-right.html"><i class="evara-font-tshirt"></i>Men's Clothing</a>
                                </li>
                                <!-- <li> <a href="shop-grid-right.html"><i class="evara-font-smartphone"></i> Cellphones</a>
                                </li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-desktop"></i>Computer &
                                        Office</a></li> -->
                                <li>
                                    <a href="shop-grid-right.html"><i class="evara-font-cpu"></i>Accessories</a>
                                </li>
                                <!-- <li><a href="shop-grid-right.html"><i class="evara-font-home"></i>Home & Garden</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-high-heels"></i>Shoes</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-teddy-bear"></i>Mother &
                                        Kids</a></li>
                                <li><a href="shop-grid-right.html"><i class="evara-font-kite"></i>Outdoor fun</a></li> -->
                            </ul>
                        </div>
                    </div>
                    <!-- mobile menu start
                    <nav>
                        <ul class="mobile-menu">
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="index.html">Home</a> -->
                    <!-- <ul class="dropdown">
                                    <li><a href="index.html">Home 1</a></li>
                                    <li><a href="index-2.html">Home 2</a></li>
                                    <li><a href="index-3.html">Home 3</a></li>
                                    <li><a href="index-4.html">Home 4</a></li>
                                </ul> -->
                    <!-- </li> -->
                    <!-- <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="shop-grid-right.html">shop</a>
                                <ul class="dropdown">
                                    <li><a href="shop-grid-right.html">Shop Grid – Right Sidebar</a></li>
                                    <li><a href="shop-grid-left.html">Shop Grid – Left Sidebar</a></li>
                                    <li><a href="shop-list-right.html">Shop List – Right Sidebar</a></li>
                                    <li><a href="shop-list-left.html">Shop List – Left Sidebar</a></li>
                                    <li><a href="shop-fullwidth.html">Shop - Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Product – Right Sidebar</a></li>
                                            <li><a href="shop-product-left.html">Product – Left Sidebar</a></li>
                                            <li><a href="shop-product-full.html">Product – No sidebar</a></li>
                                        </ul>
                                    </li>
                                    <li><a href="shop-filter.html">Shop – Filter</a></li>
                                    <li><a href="shop-wishlist.html">Shop – Wishlist</a></li>
                                    <li><a href="shop-cart.html">Shop – Cart</a></li>
                                    <li><a href="shop-checkout.html">Shop – Checkout</a></li>
                                    <li><a href="shop-compare.html">Shop – Compare</a></li>
                                </ul>
                            </li> -->
                    <!-- <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Mega
                                    menu</a>
                                <ul class="dropdown">
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Women's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Dresses</a></li>
                                            <li><a href="shop-product-right.html">Blouses & Shirts</a></li>
                                            <li><a href="shop-product-right.html">Hoodies & Sweatshirts</a></li>
                                            <li><a href="shop-product-right.html">Women's Sets</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Men's Fashion</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Jackets</a></li>
                                            <li><a href="shop-product-right.html">Casual Faux Leather</a></li>
                                            <li><a href="shop-product-right.html">Genuine Leather</a></li>
                                        </ul>
                                    </li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Technology</a>
                                        <ul class="dropdown">
                                            <li><a href="shop-product-right.html">Gaming Laptops</a></li>
                                            <li><a href="shop-product-right.html">Ultraslim Laptops</a></li>
                                            <li><a href="shop-product-right.html">Tablets</a></li>
                                            <li><a href="shop-product-right.html">Laptop Accessories</a></li>
                                            <li><a href="shop-product-right.html">Tablet Accessories</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                    href="blog-category-fullwidth.html">Blog</a>
                                <ul class="dropdown">
                                    <li><a href="blog-category-grid.html">Blog Category Grid</a></li>
                                    <li><a href="blog-category-list.html">Blog Category List</a></li>
                                    <li><a href="blog-category-big.html">Blog Category Big</a></li>
                                    <li><a href="blog-category-fullwidth.html">Blog Category Wide</a></li>
                                    <li class="menu-item-has-children"><span class="menu-expand"></span><a
                                            href="#">Single Product Layout</a>
                                        <ul class="dropdown">
                                            <li><a href="blog-post-left.html">Left Sidebar</a></li>
                                            <li><a href="blog-post-right.html">Right Sidebar</a></li>
                                            <li><a href="blog-post-fullwidth.html">No Sidebar</a></li>
                                        </ul>
                                    </li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Pages</a>
                                <ul class="dropdown">
                                    <li><a href="page-about.html">About Us</a></li>
                                    <li><a href="page-contact.html">Contact</a></li>
                                    <li><a href="page-account.html">My Account</a></li>
                                    <li><a href="page-login-register.html">login/register</a></li>
                                    <li><a href="page-purchase-guide.html">Purchase Guide</a></li>
                                    <li><a href="page-privacy-policy.html">Privacy Policy</a></li>
                                    <li><a href="page-terms.html">Terms of Service</a></li>
                                    <li><a href="page-404.html">404 Page</a></li>
                                </ul>
                            </li>
                            <li class="menu-item-has-children"><span class="menu-expand"></span><a href="#">Language</a>
                                <ul class="dropdown">
                                    <li><a href="#">English</a></li>
                                    <li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>
                                    <li><a href="#">Spanish</a></li>
                                </ul>
                            </li>
                        </ul>
                    </nav> -->
                    <!-- mobile menu end -->
                </div>
                <div class="mobile-header-info-wrap mobile-header-border">
                    <div class="single-mobile-header-info mt-30">
                        <a href="page-contact.html"> Our location </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="page-login-register.html">Log In / Sign Up </a>
                    </div>
                    <div class="single-mobile-header-info">
                        <a href="#">(+01) - 2345 - 6789 </a>
                    </div>
                </div>
                <div class="mobile-social-icon">
                    <h5 class="mb-15 text-grey-4">Follow Us</h5>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-facebook.svg" alt="" /></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-twitter.svg" alt="" /></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-instagram.svg" alt="" /></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-pinterest.svg" alt="" /></a>
                    <a href="#"><img src="assets/imgs/theme/icons/icon-youtube.svg" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
    <main class="main">
        <div class="page-header breadcrumb-wrap">
            <div class="container">
                <div class="breadcrumb">
                    <a href="" rel="nofollow">Home</a>
                    <span></span> Pages <span></span> Account
                </div>
            </div>
        </div>
        <section class="pt-150 pb-150">
            <div class="container">
                <div class="row">
                    <div class="col-lg-10 m-auto">
                        <div class="row">
                            <div class="col-md-4">
                                <div class="dashboard-menu">
                                    <ul class="nav flex-column" role="tablist" id="userProfileTabs">
                                        <li class="nav-item">
                                            <a class="nav-link" id="account-detail-tab" data-bs-toggle="tab"
                                                href="#account-detail" role="tab" aria-controls="account-detail"
                                                aria-selected="true">Account details</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab"
                                                href="#add-address" role="tab" aria-controls="address"
                                                aria-selected="true">Add Address</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="address-tab" data-bs-toggle="tab"
                                                href="#manage-address" role="tab" aria-controls="address"
                                                aria-selected="true">Manage Address</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="wallet-tab" data-bs-toggle="tab" href="#wallet"
                                                role="tab" aria-controls="wallet" aria-selected="true">My Wallet</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="orders-tab" data-bs-toggle="tab" href="#orders"
                                                role="tab" aria-controls="orders" aria-selected="false">Orders</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" id="resetPassword-tab" data-bs-toggle="tab"
                                                href="#resetPassword" role="tab" aria-controls="resetPassword"
                                                aria-selected="false">Reset Password</a>
                                        </li>

                                        <li class="nav-item">
                                            <a class="nav-link" href="#">Logout</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <div class="tab-content dashboard-content">
                                    <div class="tab-pane fade" id="orders" role="tabpanel" aria-labelledby="orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Your Orders</h5>
                                            </div>
                                            <div class="card-body">
                                                <div class="card">
                                                    <div class="card-body">
                                                        <% if (orderData && orderData.length> 0) { %>
                                                            <% orderData=orderData.sort((a, b)=> new Date(b.createdAt) -
                                                                new Date(a.createdAt)); %>
                                                                <% for (let i=0; i < orderData.length; i++) { %>
                                                                    <% const order=orderData[i]; %>
                                                                        <div class="card mb-3">
                                                                            <div class="row g-0">
                                                                                <div class="col-md-8">
                                                                                    <div class="card-body">
                                                                                        <h5 class="card-title">Order ID:
                                                                                            <%= order.orderId %>
                                                                                        </h5>
                                                                                        <p class="card-text">Date: <%=
                                                                                                order.orderDate.toDateString()
                                                                                                %>
                                                                                        </p>
                                                                                        <p class="card-text">Status:
                                                                                            <span
                                                                                                class="order-status <%= order.status.toLowerCase() %>">
                                                                                                <%= order.status %>
                                                                                            </span></p>
                                                                                        <p class="card-text">Total: Rs.
                                                                                            <%= order.billTotal %>
                                                                                        </p>
                                                                                        <a href="orderDetails?orderId=<%= order.orderId %>"
                                                                                            class="btn btn-primary">View
                                                                                            Details</a>
                                                                                    </div>
                                                                                </div>
                                                                                <div class="col-md-3">
                                                                                    <a
                                                                                        href="/productDetails?id=<%= order.items[0].productId._id  %>">
                                                                                        <img src="/uploads/<%= order.items[0].image %>"
                                                                                            class="img-fluid rounded-start"
                                                                                            alt="Product Image">
                                                                                    </a>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                        <% } %>
                                                                            <% } else { %>
                                                                                <div class="alert alert-warning"
                                                                                    role="alert">
                                                                                    No orders found.
                                                                                </div>
                                                                                <% } %>
                                                    </div>
                                                </div>




                                                <div class="pagination-area mt-30 mb-50">
                                                    <nav aria-label="Page navigation example">
                                                        <ul class="pagination justify-content-start">
                                                            <!-- Previous Page Link -->
                                                            <li class="page-item">
                                                                <a class="page-link"
                                                                    href="/userProfile?page=<%= encodeURIComponent(currentPage - 1) %>"
                                                                    aria-label="Previous">
                                                                    <span aria-hidden="true">&laquo;</span>
                                                                </a>
                                                            </li>

                                                            <!-- Display Page Links Dynamically -->
                                                            <% for (let i=1; i <=totalPages; i++) { %>
                                                                <li
                                                                    class="page-item <%= currentPage === i ? 'active' : '' %>">
                                                                    <a class="page-link"
                                                                        href="/userProfile?page=<%= encodeURIComponent(i) %>">
                                                                        <%= i %>
                                                                    </a>
                                                                </li>
                                                                <% } %>

                                                                    <!-- Next Page Link -->
                                                                    <li class="page-item">
                                                                        <a class="page-link"
                                                                            href="/userProfile?page=<%= encodeURIComponent(currentPage + 1) %>"
                                                                            aria-label="Next">
                                                                            <span aria-hidden="true">&raquo;</span>
                                                                        </a>
                                                                    </li>
                                                        </ul>
                                                    </nav>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="resetPassword" role="tabpanel"
                                        aria-labelledby="resetPassword-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Reset Password</h5>
                                            </div>
                                            <div class="card-body">
                                                <form action="/userprofileResetPassword" method="post"
                                                    id="resetPasswordForm" name="resetPasswordForm">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>Current Password
                                                                <span class="required">*</span></label>
                                                            <input class="form-control square" name="currentPassword"
                                                                id="currentPassword" type="password" />
                                                            <span id="currentPasswordError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>New Password
                                                                <span class="required">*</span></label>
                                                            <input class="form-control square" name="newPassword"
                                                                id="newPassword" type="password" />
                                                            <span id="newPasswordError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Confirm New Password
                                                                <span class="required">*</span></label>
                                                            <input class="form-control square" name="confirmNewPassword"
                                                                id="confirmNewPassword" type="password" />
                                                            <span id="confirmNewPasswordError" class="error"></span>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                id="resetPasswordButton" onclick="resetPassword()">
                                                                Reset Password
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>




                                    <div class="tab-pane fade" id="wallet">
                                        <div class="card">
                                            <div class="card-header d-flex justify-content-between">
                                                <h4 class="mb-0">My Wallet</h4>
                                                <a href="#walletModal" data-bs-toggle="modal"
                                                    class="btn btn-black-default-hover">Add to Wallet</a>
                                            </div>
                                            <div class="card-body">
                                                <% if(wallet !==null) { %>
                                                    <h5>Wallet Balance: Rs <%= wallet.balance %>
                                                    </h5>
                                                    <br>
                                                    <div id="recentTransactionsList" class="wallet-transactions"
                                                        style="max-height: 200px; overflow-y: auto;">
                                                        <h5>Recent Transactions:</h5>
                                                        <% const
                                                            recentTransactions=wallet.transactions.slice(-5).sort((a,
                                                            b)=> new Date(b.updatedAt) - new Date(a.updatedAt)); %>
                                                            <% if (recentTransactions.length> 0) { %>
                                                                <table class="table">
                                                                    <thead>
                                                                        <tr>
                                                                            <th>Type</th>
                                                                            <th>Date</th>
                                                                            <th>Time</th>
                                                                            <th>Amount</th>
                                                                        </tr>
                                                                    </thead>
                                                                    <tbody>
                                                                        <% recentTransactions.forEach(function(transaction)
                                                                            { %>
                                                                            <tr>
                                                                                <td
                                                                                    class="<%= transaction.type === 'credit' ? 'text-success' : (transaction.type === 'Referral' ? 'text-info' : 'text-danger') %>">
                                                                                    <%= transaction.type==='credit'
                                                                                        ? 'Credit' :
                                                                                        (transaction.type==='Referral'
                                                                                        ? 'Referral' :
                                                                                        (transaction.type==='Refund'
                                                                                        ? 'Refund' : 'Debit' )) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= new
                                                                                        Date(transaction.createdAt).toLocaleDateString("en-US")
                                                                                        %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= new
                                                                                        Date(transaction.createdAt).toLocaleTimeString("en-US",
                                                                                        { hour: '2-digit' ,
                                                                                        minute: '2-digit' ,
                                                                                        second: '2-digit' }) %>
                                                                                </td>
                                                                                <td>
                                                                                    <%= transaction.type==='credit'
                                                                                        ? '+' : '-' %>INR <%=
                                                                                            transaction.amount %>
                                                                                </td>
                                                                            </tr>
                                                                            <% }); %>
                                                                    </tbody>
                                                                </table>
                                                                <% } else { %>
                                                                    <p>No transactions found.</p>
                                                                    <% } %>
                                                    </div>
                                                    <% } else { %>
                                                        <p>No wallet data found.</p>
                                                        <% } %>
                                            </div>
                                        </div>
                                    </div>





                                    <div class="tab-pane fade" id="track-orders" role="tabpanel"
                                        aria-labelledby="track-orders-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5 class="mb-0">Orders tracking</h5>
                                            </div>
                                            <div class="card-body contact-from-area">
                                                <p>
                                                    To track your order please enter your OrderID in the box
                                                    below and press "Track" button. This was given to you on
                                                    your receipt and in the confirmation email you should
                                                    have received.
                                                </p>
                                                <div class="row">
                                                    <div class="col-lg-8">
                                                        <form class="contact-form-style mt-30 mb-50" action="#"
                                                            method="post">
                                                            <div class="input-style mb-20">
                                                                <label>Order ID</label>
                                                                <input name="order-id"
                                                                    placeholder="Found in your order confirmation email"
                                                                    type="text" class="square" />
                                                            </div>
                                                            <div class="input-style mb-20">
                                                                <label>Billing email</label>
                                                                <input name="billing-email"
                                                                    placeholder="Email you used during checkout"
                                                                    type="email" class="square" />
                                                            </div>
                                                            <button class="submit submit-auto-width" type="submit">
                                                                Track
                                                            </button>
                                                        </form>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="manage-address" role="tabpanel"
                                        aria-labelledby="manage-address-tab">
                                        <% if (user && user.address && user.address.length> 0) { %> <% for (let i=0; i <
                                                user.address.length; i++) { %>
                                                <div class="card">
                                                    <div class="card-body">
                                                        <h5 class="card-title">Manage Address</h5>
                                                        <div class="address-type">
                                                            <p class="card-text">
                                                                <%= user.address[i].addressType %>
                                                            </p>
                                                        </div>
                                                        <p class="card-text">
                                                            <%= user.address[i].name %>, <%= user.address[i].mobile %>,
                                                                    <%= user.address[i].pincode %>, <%=
                                                                            user.address[i].locality %>, <%=
                                                                                user.address[i].housename %>, <%=
                                                                                    user.address[i].city %>, <%=
                                                                                        user.address[i].state %>, <%=
                                                                                            user.address[i].landmark %>
                                                        </p>
                                                        <form action="" name="editAddressForm">
                                                            <input type="hidden" name="addressId"
                                                                value="<%= user.address[i]._id %>" />
                                                            <a href="/editAddress?addressId=<%= user.address[i]._id %>"
                                                                class="btn btn-fill-out btn-success submit"
                                                                name="submit">Edit</a>
                                                            <!-- <a href="/deleteAddress?addressId=<%= user.address[i]._id %>"
                                                                class="btn btn-fill-out btn-danger submit" name="submit"
                                                                style="background-color: red; color: white;">Delete</a> -->
                                                            <a href="#"
                                                                onclick="confirmDelete('<%= user.address[i]._id %>')"
                                                                class="btn btn-fill-out btn-danger submit" name="submit"
                                                                style="background-color: red; color: white">Delete</a>
                                                        </form>
                                                    </div>
                                                </div>
                                                <% } %>
                                                    <% } else { %>
                                                        <!-- Display a message if no addresses are found -->
                                                        <p>No addresses found.</p>
                                                        <% } %>
                                    </div>

                                    <div class="tab-pane fade" id="add-address" role="tabpanel"
                                        aria-labelledby="add-address-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Add Address</h5>
                                            </div>
                                            <div class="card-body">
                                                <form action="/userProfile" method="post" id="addressForm"
                                                    name="addAddressForm">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>Name <span class="required">*</span></label>
                                                            <input class="form-control square" name="name" id="name"
                                                                value="" type="text" oninput="validateName(event)"
                                                                onkeydown="return /[a-zA-Z ]/.test(event.key)" />
                                                            <span id="nameError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Mobile Number
                                                                <span class="required">*</span></label>
                                                            <input class="form-control square" name="mobile" id="mobile"
                                                                value="" type="tel" oninput="validateMobile(event)" />
                                                            <span id="mobileError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Pincode <span class="required">*</span></label>
                                                            <input class="form-control square" name="pincode"
                                                                id="pincode" oninput="validatePincode(event)" value=""
                                                                type="text"
                                                                onkeydown="return /[0-9\b]/.test(event.key) && this.value.length < 6 || event.keyCode === 8" />
                                                            <span id="pincodeError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Locality <span class="required">*</span></label>
                                                            <input class="form-control square" name="locality"
                                                                id="locality" oninput="validateLocality(event)" value=""
                                                                type="text" />
                                                            <span id="localityError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>House name/ Street name
                                                                <span class="required">*</span></label>
                                                            <textarea class="form-control square" name="housename"
                                                                oninput="validateHouseName(event)"
                                                                id="housename"></textarea>
                                                            <span id="housenameError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>City <span class="required">*</span></label>
                                                            <input class="form-control square" name="city" id="city"
                                                                oninput="validateCity(event)" type="text" value="" />
                                                            <span id="cityError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>State <span class="required">*</span></label>
                                                            <input class="form-control square" name="state" id="state"
                                                                oninput="validateState(event)" value="" type="text" />
                                                            <span id="stateError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Landmark</label>
                                                            <input class="form-control square" name="landmark"
                                                                id="landmark" oninput="validateLandmark(event)" value=""
                                                                type="text" />
                                                            <span id="landmarkError" class="error"></span>
                                                        </div>
                                                        <div class="form-group col-md-6">
                                                            <label>Address Type
                                                                <span class="required">*</span></label><br />
                                                            <label class="radio-inline small-radio">
                                                                <input type="radio" name="addressType" value="home"
                                                                    checked />
                                                                Home
                                                            </label>
                                                            <label class="radio-inline small-radio">
                                                                <input type="radio" name="addressType" value="work" />
                                                                Work
                                                            </label>
                                                        </div>
                                                        <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                id="submitButton" onclick="submitForm()">
                                                                Save
                                                            </button>
                                                        </div>
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>

                                    <div class="tab-pane fade" id="account-detail" role="tabpanel"
                                        aria-labelledby="account-detail-tab">
                                        <div class="card">
                                            <div class="card-header">
                                                <h5>Account Details</h5>
                                            </div>
                                            <div class="card-body">
                                                <form method="post" name="enq">
                                                    <div class="row">
                                                        <div class="form-group col-md-6">
                                                            <label>Name <span class="required"></span></label>
                                                            <input readonly class="form-control square" name="name"
                                                                value="<%= user.name %>" type="text" />
                                                        </div>

                                                        <div class="form-group col-md-12">
                                                            <label>Mobile <span class="required"></span></label>
                                                            <input readonly class="form-control square" name="mobile"
                                                                value="<%= user.mobile  %>" type="text" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Email Address <span class="required"></span></label>
                                                            <input readonly class="form-control square" name="email"
                                                                value="<%= user.email  %>" type="email" />
                                                        </div>
                                                        <div class="form-group col-md-12">
                                                            <label>Referral Code <span class="required"></span></label>
                                                            <input readonly class="form-control square" name="referral"
                                                                value="<%= user.referral %>" type="text" />
                                                        </div>

                                                        <!-- <div class="col-md-12">
                                                            <button type="submit" class="btn btn-fill-out submit"
                                                                name="submit" value="Submit">Save</button>
                                                        </div> -->
                                                    </div>
                                                </form>
                                            </div>
                                        </div>
                                    </div>


                                    <!-- The Modal -->
                                    <div class="modal fade" id="walletModal" tabindex="-1"
                                        aria-labelledby="walletModalLabel" aria-hidden="true">
                                        <div class="modal-dialog">
                                            <div class="modal-content">

                                                <!-- Modal Header -->
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="walletModalLabel">Add to Wallet</h5>
                                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                                        aria-label="Close"></button>
                                                </div>

                                                <!-- Modal Body -->
                                                <div class="modal-body">
                                                    <form id="addWalletForm">
                                                        <div class="mb-3">
                                                            <label for="amount" class="form-label">Amount</label>
                                                            <input type="number" min="100" class="form-control"
                                                                id="amount" name="amount" required>
                                                        </div>
                                                        <button type="submit" class="btn btn-primary">Add
                                                            Payment</button>
                                                    </form>
                                                </div>

                                                <!-- Modal Footer -->
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-secondary"
                                                        data-bs-dismiss="modal">Close</button>
                                                </div>

                                            </div>
                                        </div>
                                    </div>



                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script>
        function confirmDelete(addressId) {
            Swal.fire({
                title: "Are you sure?",
                text: "You won't be able to revert this!",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#d33",
                cancelButtonColor: "#3085d6",
                confirmButtonText: "Yes, delete it!",
            }).then((result) => {
                if (result.isConfirmed) {
                    // Redirect to the delete URL or perform the delete action
                    window.location.href = "/deleteAddress?addressId=" + addressId;
                }
            });
        }
    </script>

    <script>
        function validateName(e) {
            const Username = document.getElementById("name").value.trim();

            const titleError = document.getElementById("nameError");

            if (Username == "") {
                nameError.innerHTML = "Name is required";
                setTimeout(function () {
                    nameError.innerHTML = "";
                }, 3000);
                return false;
            } else if (event.key === " " || event.code === "Space") {
                nameError.innerHTML = "Name cannot be just spaces";
                setTimeout(function () {
                    nameError.innerHTML = "";
                }, 3000);
                return false;
            } else {
                nameError.innerHTML = "";
                return true;
            }
        }

        function validateMobile(e) {
            const MobileNumber = document.getElementById("mobile").value.trim();

            const mobileError = document.getElementById("mobileError");

            if (MobileNumber == "") {
                mobileError.innerHTML = "Mobile Number is required";
                setTimeout(function () {
                    mobileError.innerHTML = "";
                }, 3000);
                return false;
            } else if (!/^[6-9]\d{9}$/.test(MobileNumber)) {
                mobileError.innerHTML = "Invalid mobile number";
                setTimeout(function () {
                    mobileError.innerHTML = "";
                }, 3000);
                return false;
            } else if (event.key === " " || event.code === "Space") {
                mobileError.innerHTML = "Mobile number cannot be just spaces";
                setTimeout(function () {
                    mobileError.innerHTML = "";
                }, 3000);

                return false;
            } else {
                mobileError.innerHTML = "";
                return true;
            }
        }

        function validatePincode(e) {
            const pincode = document.getElementById("pincode").value.trim();

            const pincodeError = document.getElementById("pincodeError");

            if (pincode == "") {
                pincodeError.innerHTML = "Pincode is required";
                setTimeout(function () {
                    pincodeError.innerHTML = "";
                }, 3000);
                return false;
            } else if (event.key === " " || event.code === "Space") {
                pincodeError.innerHTML = "Pincode cannot be just spaces";
                setTimeout(function () {
                    pincodeError.innerHTML = "";
                }, 3000);
                return false;
            } else {
                pincodeError.innerHTML = "";
                return true;
            }
        }

        function validateLocality(e) {
            const locality = document.getElementById("locality").value.trim();

            const localityError = document.getElementById("localityError");

            if (locality == "") {
                localityError.innerHTML = "Locality is required";
                setTimeout(function () {
                    localityError.innerHTML = "";
                }, 3000);
                return false;
            } else if (event.key === " " || event.code === "Space") {
                nameError.innerHTML = "Locality cannot be just spaces";
                setTimeout(function () {
                    localityError.innerHTML = "";
                }, 3000);
                return false;
            } else {
                localityError.innerHTML = "";
                return true;
            }
        }

        function validateHouseName(e) {
            const Housename = document.getElementById("housename").value.trim();

            const housenameError = document.getElementById("housenameError");

            if (Housename == "") {
                localityError.innerHTML = "House Name is required";
                setTimeout(function () {
                    housenameError.innerHTML = "";
                }, 3000);
                return false;
            } else if (event.key === " " || event.code === "Space") {
                housenameError.innerHTML = "HouseName cannot be just spaces";
                setTimeout(function () {
                    housenameError.innerHTML = "";
                }, 3000);
                return false;
            } else {
                housenameError.innerHTML = "";
                return true;
            }
        }

        function validateCity(e) {
            const City = document.getElementById("city").value.trim();

            const cityError = document.getElementById("cityError");

            if (City == "") {
                cityError.innerHTML = "City is required";
                setTimeout(function () {
                    cityError.innerHTML = "";
                }, 3000);
                return false;
            } else if (event.key === " " || event.code === "Space") {
                cityError.innerHTML = "City cannot be just spaces";
                setTimeout(function () {
                    cityError.innerHTML = "";
                }, 3000);
                return false;
            } else {
                cityError.innerHTML = "";
                return true;
            }
        }

        function validateState(e) {
            const State = document.getElementById("state").value.trim();

            const stateError = document.getElementById("stateError");

            if (State == "") {
                stateError.innerHTML = "State is required";
                setTimeout(function () {
                    stateError.innerHTML = "";
                }, 3000);
                return false;
            } else if (event.key === " " || event.code === "Space") {
                stateError.innerHTML = "State cannot be just spaces";
                setTimeout(function () {
                    stateError.innerHTML = "";
                }, 3000);
                return false;
            } else {
                stateError.innerHTML = "";
                return true;
            }
        }

        function validateLandmark(e) {
            const Landmark = document.getElementById("landmark").value.trim();

            const landmarkError = document.getElementById("landmarkError");

            if (Landmark == "") {
                landmarkError.innerHTML = "Landmark is required";
                setTimeout(function () {
                    landmarkError.innerHTML = "";
                }, 3000);
                return false;
            } else if (event.key === " " || event.code === "Space") {
                landmarkError.innerHTML = "Landmark cannot be just spaces";
                setTimeout(function () {
                    landmarkError.innerHTML = "";
                }, 3000);
                return false;
            } else {
                landmarkError.innerHTML = "";
                return true;
            }
        }

        document.getElementById("addressForm").addEventListener("submit", (e) => {
            if (
                !validateName(e) ||
                !validateMobile(e) ||
                !validatePincode(e) ||
                !validateLocality(e) ||
                !validateCity(e) ||
                !validateHouseName(e) ||
                !validateState(e) ||
                !validateLandmark(e)
            ) {
                e.preventDefault();
            }
        });
    </script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>



    <script>
        // userprofile reset password
        async function resetPassword() {
            const currentPassword = document.getElementById("currentPassword").value;

            const newPassword = document.getElementById("newPassword").value;

            const confirmNewPassword =
                document.getElementById("confirmNewPassword").value;

            // Client-side validation
            if (!currentPassword || !newPassword || !confirmNewPassword) {
                Swal.fire("Error", "All fields are required.", "error");
            }

            if (newPassword !== confirmNewPassword) {
                Swal.fire(
                    "Error",
                    "New password and confirm new password do not match.",
                    "error"
                );
            }

            // Submit the form if client-side validation passes
            const formData = {
                currentPassword: currentPassword,
                newPassword: newPassword,
                confirmNewPassword: confirmNewPassword,
            };

            fetch("/userprofileResetPassword", {
                method: "POST",
                headers: {
                    "Content-Type": "application/json",
                },
                body: JSON.stringify(formData),
            })
                .then((response) => response.json())
                .then((data) => {
                    if (!data.success) {
                        Swal.fire("Error", data.error, "error");
                    } else {
                        Swal.fire("Success", data.message, "success");
                        // You can perform additional actions here if needed
                    }
                })
                .catch((error) => {
                    console.error(error);
                    Swal.fire("Error", "Internal Server Error", "error");
                });

            // Add an event listener to prevent the form submission
            document
                .getElementById("resetPasswordForm")
                .addEventListener("submit", function (event) {
                    event.preventDefault();
                    resetPassword();
                });
        }
    </script>





    <script>
        document.addEventListener("DOMContentLoaded", function () {
            const userProfileTabs = document.getElementById("userProfileTabs");
            const storedTab = sessionStorage.getItem("selectedTab");

            // Set the initially selected tab if stored in sessionStorage
            if (storedTab) {
                const tabElement = userProfileTabs.querySelector(`[href="${storedTab}"]`);
                if (tabElement) {
                    // Trigger a click event on the tab to activate it
                    tabElement.click();
                }
            }

            // Add an event listener to store the selected tab when a tab is clicked
            userProfileTabs.addEventListener("click", function (event) {
                const clickedTab = event.target.getAttribute("href");
                sessionStorage.setItem("selectedTab", clickedTab);
            });
        });





        document.getElementById('addWalletForm').addEventListener('submit', async function (event) {

            event.preventDefault();
            const amountValue = document.getElementById('amount').value;
            const amountInPaise = Math.round(parseFloat(amountValue) * 100);

            const requestData = {
                amount: amountValue,
            };

            try {
                const response = await fetch('/addToWallet', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(requestData),
                });

                const data = await response.json();

                console.log("Data", data);

                const razorpayOrder = data;

                const convertedAmount = razorpayOrder && razorpayOrder.order ? Math.round(parseFloat(razorpayOrder.order.amount) * 100) : 0;


                if (data.success) {

                    const options = {
                        key: "rzp_test_NGuzvYo6A3U204",
                        amount: amountInPaise,
                        currency: "INR",
                        name: "VIBYOURS",
                        description: "Payment for Your Wallet",
                        transaction_id: data.orderId,
                        handler: async function (response) {
                            const paymentData = {
                                razorpay_payment_id: response.razorpay_payment_id,
                                razorpay_order_id: response.razorpay_order_id,
                                razorpay_signature: response.razorpay_signature,

                            };

                            try {
                                const paymentResponse = await fetch(`/userAc?wallet=${data.order.amount}`, {
                                    method: 'GET',

                                });

                            } catch (error) {
                                console.error('Error processing payment:', error);
                            }
                        },

                    };

                    const rzp = new Razorpay(options);
                    rzp.on('payment.failed', function (response) {
                        alert("Payment Failed");
                    });
                    rzp.open();
                } else {
                    // Handle the case where the data.success is false
                    Swal.fire({
                        title: 'Error!',
                        text: 'An error occurred. Please try again.',
                        icon: 'error',
                        confirmButtonText: 'OK'
                    });
                }
            } catch (error) {
                console.error("Error during checkout:", error);
                alert("An error occurred during checkout. Please try again later.");
            }
        });





    </script>

    




    <style>
        .error {
            color: red;
            font-size: 14px;
            margin-top: 5px;
        }

        .error-message {
            color: red;
            font-size: 16px;
            margin-bottom: 10px;
        }

        .order-status {
            font-weight: bold;
        }

        .order-status.pending {
            color: #ffc107;
        }

        .order-status.delivered {
            color: #28a745;
        }

        .order-status.shipped {
            color: #007bff;
        }

        .order-status.returned {
            color: #6c757d;
        }

        .order-status.cancelled {
            color: #dc3545;
        }

        .order-status.confirmed {
            color: #17a2b8;
        }
    </style>

    <style>
        .small-radio input[type="radio"] {
            transform: scale(0.3);

            margin-right: 5px;
        }

        .small-radio label {
            font-size: 14px;
        }

        .address-type {
            background-color: #bbddd3;

            display: inline-block;

            padding: 10px;

            border-radius: 5px;
        }
    </style>

    <%- include("../partials/userfooters") %>